body{
	background-color: lightblue;
}
.header{
	background-color: #0099cc;
	height: 150px;
	text-align: left;
}
span{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}
.footer{
	background-color: #0099cc;
	text-align: center;
	margin-top: 50px
}
a:link{
	text-decoration: none;
}
a:visited{
	color: green;
}
a:hover{
	font-weight: bold;
}
a:active{
	text-decoration: none;
}